.idea
data
venv
out

# ignore pycache files
**.pyc
*.pyc
.DS_Store

# ignore /docs folder untill we have a nice looking doc
docs
/.assets/examples/upload/

# ignoring some file that may be interesting for the future
/.scripts/IQA/
/.scripts/IQO/
/.scripts/OCR/
/.scripts/statistics/
